

header {
    background-image: url('treee.jpg');
  
	height: 100vh;
	
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	
}


a {
	text-decoration: none;
	color: black;
	font-size: 1.5rem;
	text-align: right;
    
	font-family: 'Times New Roman', Times, serif;
}



ul {
	list-style: none;
}

li {
	display: inline-block;

}
h1 {
    color: black;
}
.nav {
	width: 50%;
	display: flex;
	align-items: flex-end;
  justify-content: space-between;

	
}

.btn1 {

    height: 50px;
    width: 90px;
    background-color:black;
    color: white;
    align-self:flex-end;
    
  }
  
.title {
  width: 100%;
	position: absolute;
	top: 40%;
	left: 55%;
	transform: translate(-50%, -50%);
	text-align: left;
	font-size: 1.5rem;

}